.wrapper {
  width: 100%;
  min-height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;

  padding-top: 14px;
  background-color: rgb(127, 114, 114);
}

.content_container {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
